@model Huellero.Models.TblUsuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblUsuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VNombres" class="control-label"></label>
                <input asp-for="VNombres" class="form-control" />
                <span asp-validation-for="VNombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VApellidos" class="control-label"></label>
                <input asp-for="VApellidos" class="form-control" />
                <span asp-validation-for="VApellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VHuella" class="control-label"></label>
                <input asp-for="VHuella" class="form-control" />
                <span asp-validation-for="VHuella" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
